:root {
  --dark-color: #005005;
  --light-color: #60ad5e;
  --primary-color: #2e7d32;
}

body {
    background-color: var(--light-color) !important;
}

.jumbotron {
    background-color: var(--dark-color) !important;
    color: #FFF;
}

.card {
    margin-bottom: 0.25rem;
}
.card-body {
    display: flex;
    /*horizontally center children*/
    justify-content: center;
    /*vertically center children*/
    align-items: center;
    background-color: var(--primary-color);
    color: #FFF;
}

.card-body:hover {
    background-color: var(--light-color);
}

.avatar {
    flex: 1;
}

.cardInfo {
    flex: 5;
}

.avatar > img {
    border-radius: 50%
}

.title {
    font-size: 2rem;
}

footer > div > p {
    color:var(--primary-color)
}

footer > div > p > a {
    color:var(--dark-color)
}

footer > div > p > a:hover {
    color: #FFF;
    text-decoration: none;
}
